<style>
  td,th{
    padding: 2px 10px;
    text-align: center;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Pets</th>
  </tr>
  
  <%@owners.each do |owner|%>
    <tr>
      <td><%=owner.id%></td>
      <td><%=owner.name%></td>
      <td><%=owner.show_pets_as_string%></td>
    </tr>
  <% end %>
  
</table>