<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
  </tr>
  
  <%@pets.each do |pet|%>
    <tr>
      <td><%=pet.id%></td>
    </tr>
  
  | Name: <%=pet.name%>, Owner: <%=pet.owner_name%><br>
  <% end %>
  
</table>
