<style>
  td,th{
    padding: 2px 10px;
    text-align: center;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>
  
  <%@pets.each do |pet|%>
    <tr>
      <td><%=pet.id%></td>
      <td><%=pet.name%></td>
      <td><%=pet.owner_name%></td>
      <td>
        <form action="/pets/<%=pet.id%>/edit" method='get'><input type='submit' value='EDIT'></form>
      </td>
    </tr>
  <% end %>
  
</table>
